<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}" >
    <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename = 'python.png')}}" />
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
    <div class="navbar navbar-light bg-light mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Practica Montecarlo</a>
            <ul class="nav nav-pills me-5">
                <li><a class="dropdown-item " href="/">Home</a></li>
                <li><a class="dropdown-item" href="/montecarlo">Resolución Ejercicio</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        {% block content %}
    
        {% endblock %}
    </div>
</body>
</html>